@font-face {
  font-family: VT323-Regular;
  src: url(VT323-Regular.ttf);
}

* {
  font-family: VT323-Regular;
}

body {
  margin: 0px 50px;
  background: #262626;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  grid-template-areas:
    "kuchnia konferencyjna kawiarnia damska gubikacja hallway"
    " glewo gprawo s44 akwarium dziecigora dziecigora2"
    "bar bar bar bar bar bar";
}

/* GRID NAMES */
.hallway {
  grid-area: hallway;
}

.dziecigora2 {
  grid-area: dziecigora2;
}

.kuchnia {
  grid-area: kuchnia;
}

.konferencyjna {
  grid-area: konferencyjna;
}

.damska {
  grid-area: damska;
}

.glewo {
  grid-area: glewo;
}

.gprawo {
  grid-area: gprawo;
}

.gubikacja {
  grid-area: gubikacja;
}

.akwarium {
  grid-area: akwarium;
}

.kawiarnia {
  grid-area: kawiarnia;
}

.s44 {
  grid-area: s44;
}

.dziecigora {
  grid-area: dziecigora;
}

.bar {
  grid-area: bar;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PAGE  */
h3 {
  font-size: 2.5em;
}

h1, h2, h3, h4, h5 {
  color: white;
  text-shadow: 0 0 5px white;
}

h3 {
  margin: 50px -0px 20px -10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+span {
  color: red;
  animation: blink_red 2.5s linear infinite;
}

input[type="checkbox"]:checked+span {
  color: green;
  text-shadow: 0 0 10px green;
  animation: blink_green 0s linear infinite;
}

/* ANIMATION */
@keyframes blink_red {
  0% {
    text-shadow: 0 0 3px red;
    filter: grayscale(0.4);
  }

  50% {
    text-shadow: 0 0 20px red;
    filter: grayscale(0);
  }

  100% {
    text-shadow: 0 0 3px red;
    filter: grayscale(0.4);
  }
}

@keyframes blink_green {
  0% {
    text-shadow: 0 0 3px green;
  }

  100% {
    text-shadow: 0 0 3px green;
  }
}

.task-text_area {
  margin: 10px 10px 0px 0px;
}

span {
  font-size: 27px;
  letter-spacing: 1.5px;
}

span.main {
  font-size: 33px;
  font-weight: bold;
}

.ready {
  font-size: 1.5em;
}

.ui-progressbar-value {
  background: lightgreen;
  height: 100%;
}

.progressbar-container {
  margin: 50px 0px 0px 0px;
  position: relative;
  width: 50%;
}

.progressbar-bar {
  height: 30px;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 7px;
}

.progressbar-label {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 11px;
  left: 48%;
  z-index: 2;
  color: white;
}

.footer-bar {
  background: #262626;
  position: fixed;
  bottom: 0px;
  height: 70px;
  width: 100%;
  right: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tlen {
  color: #4287f5;
  text-shadow: 0 0 20px #4287f5;
  font-size: 45px;
  filter: grayscale(1);
  cursor: pointer;
}

.swiat {
  color: #d4a633;
  text-shadow: 0 0 20px #d4a633;
  font-size: 45px;
  filter: grayscale(1);
  cursor: pointer;
}

.reactor {
  color: #ff455e;
  text-shadow: 0 0 20px #ff455e;
  font-size: 45px;
  filter: grayscale(1);
  cursor: pointer;
}

.greyscale1 {
  filter: grayscale(0);
}

@media only screen and (max-width: 1400px) {
  body {
    margin: 0px 0px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    grid-template-areas:
      ". kuchnia. "
      ". konferencyjna ."
      ". damska."
      ". glewo."
      ". gprawo."
      ". gubikacja."
      ". akwarium."
      ". hallway."
      ". kawiarnia."
      ". s44."
      ". dziecigora ."
      ". dziecigora2 ."
      ". bar .";
  }

  .progressbar-container {
    width: 100%;
  }

  .bar {
    position: sticky;
    bottom: 55px;
    z-index: 10;
  }

  .progressbar-bar {
    background: #262626;
  }

  .progressbar-label {
    left: 45%;
  }

  .tlen {
    color: lightblue;
    font-size: 25px;
  }

  .swiat {
    color: yellow;
    font-size: 25px;
  }

  .reactor {
    color: pink;
    font-size: 25px;
  }

  .dziecigora2 {
    margin-bottom: 30px;
  }

  .footer-bar {
    width: 100%;
    height: 65px;
  }
}